@import '../../styles/variables.scss';

.ContentContainer {
    width: $max-container-width;
    display: flex;
    justify-content: center;
    color: black;
    color: grey;
}
.HeaderContainer {
    width: $max-container-width;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, $color-gradient-dark, $color-gradient-light);
}



@media screen and (max-width: $max-container-width) {
	.ContentContainer {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }
}