@import '../../styles/variables.scss';

.Container {
  width: 100%;
  display: flex;
  justify-content:center;
  border: 5px solid lightgray;
  background-color: black;
  color: gray;
  font-size: 12px;
}
.PictureContainer{
    width: 100%;
    height: 100%;
    border: 2px solid red;
    display:flex;
    justify-content:center;
    flex-direction: column;
}
.PictureMock{
    width: 100%;
    height: 40px;
    background-color: lime;
}

.SeeMeRow{
  border-top: 1px solid red;
}
.SeeMeCol{
  border-top: 1px solid blue;
}
