@import './styles/variables.scss';

.AppContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: peru;
}

.ContentContainer {
    width: $max-container-width;
    flex-grow: 1;
}

@media screen and (max-width: $max-container-width) {
	.ContentContainer {
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
    }
}